.fa{
	font-size: 25px;
	border-radius: 50%;
	margin: 10px;
}
.p-foot{
	color: #337ab7;
	font-size: 40px;
	font-family: Lobster;
	margin-top:20px;
	margin-bottom:0px; 
}
body{
	padding-top: 50px;
}
.footer{
	background-color:#222;
}
.img1{
	height: 250px;
}
.about{
	font-family: Lobster Two;
	color: #337ab7;
	font-size: 40px;
}
.about1{
	font-family: monospace;
	color:white;
	font-size: 20px;
}
.head1{
	font-family: Lobster Two;
	color: #337ab7;
	font-size:20px; 
}
.head2{
	font-size: 30px;
}
.projhead{
	color: white;
	font-size: 20px;
	font-family: monospace;
}
.imgproj{
	height: 200px;
}
.ul1{
	font-family: monospace;
	color:white;
	font-size: 20px;
	text-align: center;
}
.container-fluid.footer{
	margin-right:-10px; 
}